$primary-text-color: #212121;
  $secondary-text-color: #757575;
  $third-text-color: rgba(255, 255, 255, 0.6);
  $title-text-color: #000000;
  $accent-color: #2196f3;
  $accent-font: Raleway, sans-serif;
  $main-font: Roboto, sans-serif;
  $primary-white-color: #ffffff;
  $primary-bg-color: #ffffff;
  $secondary-bg-color: #2f303a;
  $four-bg-color: #43444d;
  $third-bg-color: #f5f4fa;
  $border-cards-color: #e5e5e5;
  $section-clients-color: #afb1b8;